.carousel-item > img{
    object-fit: cover;
}
.features > p > svg{
    color: #3F87F5;
    background: #EDECF9;
    /* padding: 5px; */
    border-radius: 50%;
    /* font-style: 18px; */
}
/* .accordion .accordion-header button{
    outline: none;
} */